/* General */

body {
    background: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}

/* Header */

.top_container {
    background: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    padding: 1.5em 0;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    z-index: 2;
    position: absolute;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    max-width: 20%;
}

.logo::before {
    content: url('../img/logo.png');
}

.menu {
    max-width: 70%;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.main_menu {
    list-style-type: none;
    color: #fff;
    margin: 0;
}

.menu_item {
    display: inline-block;
    margin: 0.3em;
    padding: 0.5em;
}

.menu_item > a {
    color: #fff;
}

.menu_item > a:hover {
    color: #c7b299;
    text-decoration: none;
}

.cart-search {
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart::before {
    content: url('../img/cart.png');
}

.search, .cart {
    padding: 0 0.75em;
}

.search::before {
    content: url('../img/search.png');
}

/* Slider */


.carousel-caption {
    top: 245px;
    max-width: 50%;
    margin: auto;
}

.slider-subtitle {
    font-size: 2.25em;
}

.slider-title {
    font-size: 3.25em;
    font-weight: 700;
}

.slider-text {
    font-weight: 300;
}

.w-100 {
    filter: brightness(40%);
}

.slider-button {
    border-radius: 3px;
    background: #998675;
    color: #fff;
    font-weight: 700;
    border: none;
    margin-top: 3.125em;
    padding: 1em 2em;
    text-transform: uppercase;
    border-bottom: 2px solid #736357;
}

.carousel-indicators li {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background: #8f9091;
}

.carousel-indicators .active {
    border: 1px solid #c4b3a1;
    background: transparent;
}

.carousel-item {
    max-height: 960px;
}

/* Services */

.services {
    display: flex;
    justify-content: space-around;
    padding: 78px 0;
    background: #fff;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;
}

.service-item:hover .service-title {
    color: #c7b299;
}
.service-item:hover .service-line {
    background: #c7b299;
}

.service-icon {
    width: 40px;
}

.icon-design::before {
    content: url('../img/services/design.svg');
}

.icon-development::before {
    content: url('../img/services/development.svg');
}

.icon-customization::before {
    content: url('../img/services/customization.svg');
}

.icon-marketing::before {
    content: url('../img/services/marketing.svg');
}

.service-title {
    font-size: 1.375em;
    font-weight: 500; 
    padding: 0.25em 0;
    color: #555555;
}

.service-description {
    color: #8c8c8c;
    font-size: 0.875em;
    text-align: center;
    font-weight: 300;
}

.service-line {
    height: 3px;
    width: 70px;
    background: #f1eee9;
    margin-top: 1.5em;
}
